@font-face {
    font-family: 'Inter';
    src: url('../assets//Font/Inter/Inter/static/Inter_18pt-Light.ttf') format('truetype');    
  }
@font-face {
    font-family: 'Montserrat';
    src: url('../assets//Font/Montserrat/static/Montserrat-Medium.ttf') format('truetype');    
  }

.bogo{
    font-family: 'Montserrat', sans-serif;
    font-stretch: ultra-expanded;
}

.best{
    font-family: 'Montserrat', sans-serif;
        
        text-shadow:
          0.5px 0.5px 0 #000,
          -0.5px 0.5px 0 #000,
          -0.5px 0.5px 0 #000,
          0.5px 0.5px 0 #000;
      
}

